<div id="main">
  <div id="content" class="content">
    <div class="heading">
      <h2>Privacy Statement</h2>
    </div>
    <form action="#" class="form">
      <fieldset>
        <div class="section-box section-instruction">
          <h3 class="title"></h3>

          <p>
            HELIX takes every measure to ensure your privacy and the confidentiality of any transaction you make with
            usùonline and in all other communication methods that we use. On this page you will see the steps we take to
            protect your privacy.
            HELIX ensures the privacy of all visitorsÆ information. At no time and under no circumstances will we sell,
            trade or otherwise disclose personally identifiable information such as names, email addresses or any other
            private contact information without your formal written consent, unless otherwise compelled by law.
          </p>

          <p>
            <b>Information You Provide</b></br>
            Any information we request, such as your email address, is only used for the purpose of responding to your
            request and processing your DNA test. We never give your email address to any outside organizations, and we
            do not use it for any purpose unrelated to the testing service you request.
          </p>

          <p>
            <b>How We protect Your Information</b></br>
            Any information you transmit using our websiteùvia our information request forms, Contact Us forms, and
            order formsùis encrypted and sent securely through the Internet. The information is stored in our secure
            databases, which can only be accessed by a limited number of authorized persons.
            HELIXÆs staff members are specially trained to keep our patientsÆ information confidential. Whenever anyone
            calls for case information, we first verify that personÆs identity by asking for a telephone number,
            birthday, or other information. We never give any information to those who are not authorized to receive
            information on a test.
          </p>

          <p>
            <b>Other Information Collected</b></br>
            To gauge the effectiveness of the HELIX website and services; to help us make efficient use of and
            improvements to the HELIX website and services; to help understand HELIXÆs users, and for other purposes, we
            collect certain non-personally identifiable information about visitors that does not reveal a visitor's
            identity. For example (and without limitation), HELIXÆs web server automatically recognizes a visitor's
            domain name (such as .com, .edu, etc.), the webpage from which a visitor enters the website, which of our
            webpages a visitor visits and how much time a visitor spends on each webpage. HELIX may, at its sole
            discretion, use this information in a non-personally identifiable form or aggregate this information and use
            it for any purpose.
          </p>

          <p>
            <b>Disclaimers</b></br>
            HELIX links to external sites that help us perform our mission in providing you with accurate, accessible
            DNA testing and related resources.
            Links to external servers do not imply any official HELIX endorsement of the opinions or ideas expressed
            therein, or guarantee the validity of the information provided. Links to commercial sites are in no way an
            endorsement of any vendor's products or services.
          </p>

          <p>
            Copyright Information
            All of this siteÆs web content, graphics, and images, in part or in whole, and in any combination, are
            protected by copyright.
          </p>


        </div>
      </fieldset>
    </form>
  </div>
</div>
