<div id="main">
  <div id="content" class="content">
    <div class="heading">
      <h2>thank you!</h2>
    </div>
    <form action="#" class="form">
      <fieldset>
        <div class="section-box section-instruction">
          <h3 class="title">Instructions</h3>

          <div class="col">
            <h4 class="title-3">What to do now</h4>

            <p>Please transfer 150,000 Naira into the following account with your order number as a reference.</p>

            <p>Your order will be delivered to your address as soon as your transaction reflects in our account.</p>
          </div>
          <div class="col col-2">
            <h4 class="title-3">Bank Information</h4>

            <div class="info">
              <img class="logo-3" src="/assets/ico-17.png" width="85" height="83" alt="image description"/>
              <dl class="details">
                <dt>Name of Bank:</dt>
                <dd>Zenith Bank</dd>
                <dt>Account Name:</dt>
                <dd>Account Name:</dd>
                <dt>Account Number</dt>
                <dd>Account Number</dd>
                <dt>Type of Account:</dt>
                <dd>Type of Account:</dd>
              </dl>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
